Repository fernandoSilveira0710/f-flow-suite, changes with the labels that .github/labeler.yml gives for each.
All labels: component-hub, component-client-local, component-site, component-database, component-cicd, typescript, javascript, react, nestjs, electron, documentation, testing, configuration, docker, api, ui, database, auth, security, performance, dependencies

feat(licenses): add JWT module to licenses module
  hub/.env
  hub/.env.example
  hub/package-lock.json
  hub/package.json
  hub/src/licenses/licenses.module.ts
  roadmap.txt
Labels: component-hub, typescript, nestjs, configuration, api, dependencies

feat(licenses): add JWT module to licenses module
  hub/.env
  hub/.env.example
  hub/package-lock.json
  hub/package.json
  hub/src/licenses/licenses.module.ts
  roadmap.txt
Labels: component-hub, typescript, nestjs, configuration, api, dependencies

feat(licensing): implement comprehensive licensing system with cache and validation
  client-local/package-lock.json
  client-local/package.json
  client-local/prisma/prisma/local.db
  client-local/prisma/schema.prisma
  client-local/src/auto-update/auto-update.controller.ts
  client-local/src/auto-update/auto-update.service.ts
  client-local/src/bootstrap.ts
  client-local/src/licensing/license-cache.guard.ts
  client-local/src/licensing/license-warning.controller.ts
  client-local/src/licensing/licensing-renewal.service.ts
  client-local/src/licensing/licensing.controller.ts
  client-local/src/licensing/licensing.guard.ts
  client-local/src/licensing/licensing.module.ts
  client-local/src/licensing/licensing.service.ts
  client-local/src/licensing/startup-license.guard.ts
  hub/prisma/prisma/local.db
  hub/prisma/seed.ts
  hub/src/app.module.ts
  hub/src/licenses/licenses.controller.ts
  hub/src/main.ts
  hub/src/public/public.controller.ts
  hub/src/public/public.module.ts
  site/src/pages/PricingPage.tsx
  src/App.tsx
  src/pages/erp/configuracoes/plano.tsx
  src/pages/erp/login.tsx
Labels: component-hub, component-client-local, component-site, component-database, typescript, react, nestjs, electron, configuration, api, database, performance, dependencies

feat(licensing): implement comprehensive licensing system with cache and validation
  client-local/package-lock.json
  client-local/package.json
  client-local/prisma/prisma/local.db
  client-local/prisma/schema.prisma
  client-local/src/auto-update/auto-update.controller.ts
  client-local/src/auto-update/auto-update.service.ts
  client-local/src/bootstrap.ts
  client-local/src/licensing/license-cache.guard.ts
  client-local/src/licensing/license-warning.controller.ts
  client-local/src/licensing/licensing-renewal.service.ts
  client-local/src/licensing/licensing.controller.ts
  client-local/src/licensing/licensing.guard.ts
  client-local/src/licensing/licensing.module.ts
  client-local/src/licensing/licensing.service.ts
  client-local/src/licensing/startup-license.guard.ts
  hub/prisma/prisma/local.db
  hub/prisma/seed.ts
  hub/src/app.module.ts
  hub/src/licenses/licenses.controller.ts
  hub/src/main.ts
  hub/src/public/public.controller.ts
  hub/src/public/public.module.ts
  site/src/pages/PricingPage.tsx
  src/App.tsx
  src/pages/erp/configuracoes/plano.tsx
  src/pages/erp/login.tsx
Labels: component-hub, component-client-local, component-site, component-database, typescript, react, nestjs, electron, configuration, api, database, performance, dependencies

feat(auth): implement comprehensive authentication and licensing system
  client-local/.env
  client-local/.env.production
  client-local/src/bootstrap.ts
  hub/prisma/prisma/local.db
  hub/src/prisma-tenant.middleware.ts
  package-lock.json
  package.json
  site/src/App.tsx
  site/src/auth-context.tsx
  site/src/protected-route.tsx
  src/App.tsx
  src/components/auth/protected-route.tsx
  src/contexts/auth-context.tsx
  src/lib/entitlements.ts
  src/lib/schedule-api.ts
  src/lib/settings-api.ts
  src/pages/erp/configuracoes/plano.tsx
  src/pages/erp/login.tsx
  vite.config.ts
Labels: component-hub, component-client-local, component-site, component-database, typescript, react, nestjs, electron, configuration, auth, security, dependencies

feat(auth): implement comprehensive authentication and licensing system
  client-local/.env
  client-local/.env.production
  client-local/src/bootstrap.ts
  hub/prisma/prisma/local.db
  hub/src/prisma-tenant.middleware.ts
  package-lock.json
  package.json
  site/src/App.tsx
  site/src/auth-context.tsx
  site/src/protected-route.tsx
  src/App.tsx
  src/components/auth/protected-route.tsx
  src/contexts/auth-context.tsx
  src/lib/entitlements.ts
  src/lib/schedule-api.ts
  src/lib/settings-api.ts
  src/pages/erp/configuracoes/plano.tsx
  src/pages/erp/login.tsx
  vite.config.ts
Labels: component-hub, component-client-local, component-site, component-database, typescript, react, nestjs, electron, configuration, auth, security, dependencies

feat(licensing): implement comprehensive license sync and plan management
  README.md
  client-local/.env
  client-local/check-license-cache.sql
  client-local/fix-cache-for-new-tenant.js
  client-local/fix-cache-tenant-3cb88e58.js
  client-local/fix-license-cache.js
  client-local/prisma/local.db
  client-local/prisma/prisma/local.db
  client-local/src/licensing/licensing.controller.ts
  client-local/src/licensing/licensing.service.ts
  client-local/src/licensing/startup-license.guard.ts
  client-local/src/plans/plans.controller.ts
  client-local/src/plans/plans.service.ts
  hub/.env
  hub/check-data.js
  hub/check-specific-license.sql
  hub/create-test-license.js
  hub/prisma/prisma/local.db
  hub/query-user.sql
  hub/src/licenses/licenses.service.ts
  hub/src/main.ts
  hub/src/prisma-tenant.middleware.ts
  site/src/pages/SignupPage.tsx
  src/components/erp/plans-modal.tsx
  src/contexts/auth-context.tsx
  src/layouts/settings-layout.tsx
  src/lib/api-client.ts
  src/lib/entitlements.ts
  src/lib/env.ts
  src/lib/settings-api.ts
  src/pages/erp/configuracoes/plano.tsx
  src/pages/erp/login.tsx
  src/pages/site/pagamento.tsx
  src/services/plan-sync.service.ts
Labels: component-hub, component-client-local, component-site, component-database, typescript, javascript, react, nestjs, electron, documentation, api, database, security, performance

feat(licensing): implement comprehensive license sync and plan management
  README.md
  client-local/.env
  client-local/check-license-cache.sql
  client-local/fix-cache-for-new-tenant.js
  client-local/fix-cache-tenant-3cb88e58.js
  client-local/fix-license-cache.js
  client-local/prisma/local.db
  client-local/prisma/prisma/local.db
  client-local/src/licensing/licensing.controller.ts
  client-local/src/licensing/licensing.service.ts
  client-local/src/licensing/startup-license.guard.ts
  client-local/src/plans/plans.controller.ts
  client-local/src/plans/plans.service.ts
  hub/.env
  hub/check-data.js
  hub/check-specific-license.sql
  hub/create-test-license.js
  hub/prisma/prisma/local.db
  hub/query-user.sql
  hub/src/licenses/licenses.service.ts
  hub/src/main.ts
  hub/src/prisma-tenant.middleware.ts
  site/src/pages/SignupPage.tsx
  src/components/erp/plans-modal.tsx
  src/contexts/auth-context.tsx
  src/layouts/settings-layout.tsx
  src/lib/api-client.ts
  src/lib/entitlements.ts
  src/lib/env.ts
  src/lib/settings-api.ts
  src/pages/erp/configuracoes/plano.tsx
  src/pages/erp/login.tsx
  src/pages/site/pagamento.tsx
  src/services/plan-sync.service.ts
Labels: component-hub, component-client-local, component-site, component-database, typescript, javascript, react, nestjs, electron, documentation, api, database, security, performance

.github/labeler.yml:

# Configuration for the labeler action
# https://github.com/actions/labeler

# Component labels
component-hub:
  - changed-files:
    - any-glob-to-any-file: 'hub/**/*'

component-client-local:
  - changed-files:
    - any-glob-to-any-file: 'client-local/**/*'

component-site:
  - changed-files:
    - any-glob-to-any-file: 'site/**/*'

component-database:
  - changed-files:
    - any-glob-to-any-file: 
      - 'hub/prisma/**/*'
      - 'client-local/prisma/**/*'
      - '**/*.sql'

component-cicd:
  - changed-files:
    - any-glob-to-any-file: 
      - '.github/**/*'
      - 'docker-compose.yml'
      - '**/Dockerfile'
      - '**/.dockerignore'

# Technology labels
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'

react:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*.tsx'
      - '**/*.jsx'

nestjs:
  - changed-files:
    - any-glob-to-any-file: 'hub/**/*.ts'

electron:
  - changed-files:
    - any-glob-to-any-file: 'client-local/**/*'

# File type labels
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*.md'
      - 'docs/**/*'

testing:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*.test.ts'
      - '**/*.test.js'
      - '**/*.spec.ts'
      - '**/*.spec.js'
      - 'test/**/*'
      - '**/__tests__/**/*'

configuration:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*.json'
      - '**/*.yml'
      - '**/*.yaml'
      - '**/*.config.*'
      - '.env*'
      - '.*rc*'

docker:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/Dockerfile'
      - '**/.dockerignore'
      - 'docker-compose*.yml'

# Area labels
api:
  - changed-files:
    - any-glob-to-any-file: 
      - 'hub/src/**/*.controller.ts'
      - 'hub/src/**/*.service.ts'
      - 'hub/src/**/*.module.ts'

ui:
  - changed-files:
    - any-glob-to-any-file: 
      - 'site/src/components/**/*'
      - 'client-local/src/**/*.tsx'
      - '**/*.css'
      - '**/*.scss'

database:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/schema.prisma'
      - '**/migrations/**/*'
      - '**/*.sql'

auth:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/auth/**/*'
      - '**/authentication/**/*'
      - '**/authorization/**/*'

security:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*security*'
      - '**/*auth*'
      - '.github/workflows/security.yml'

performance:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*performance*'
      - '**/*optimization*'
      - '**/*cache*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/package.json'
      - '**/package-lock.json'
      - '**/yarn.lock'
      - '**/bun.lockb'
